<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bootstrap Admin</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    
    <link href="css/admin/bootstrap.min.css" rel="stylesheet" />
    <link href="css/admin/bootstrap-responsive.min.css" rel="stylesheet" />
    
    
    <link href="css/admin/font-awesome.css" rel="stylesheet" />
    
    <link href="css/admin/adminia.css" rel="stylesheet" />
    <link href="css/admin/adminia-responsive.css" rel="stylesheet" />
    
    <link href="css/admin/pages/dashboard.css" rel="stylesheet" />
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 				
			</a>
			
			<a class="brand" href="./">Adminia Admin</a>
			
			<div class="nav-collapse">
			
				<ul class="nav pull-right">
					<li>
						<a href="#"><span class="badge badge-warning">7</span></a>
					</li>
					
					<li class="divider-vertical"></li>
					
					<li class="dropdown">
						
						<a data-toggle="dropdown" class="dropdown-toggle " href="#">
							Rod Howard <b class="caret"></b>							
						</a>
						
						<ul class="dropdown-menu">
							<li>
								<a href="./account.html"><i class="icon-user"></i> Account Setting  </a>
							</li>
							
							<li>
								<a href="./change_password.html"><i class="icon-lock"></i> Change Password</a>
							</li>
							
							<li class="divider"></li>
							
							<li>
								<a href="./"><i class="icon-off"></i> Logout</a>
							</li>
						</ul>
					</li>
				</ul>
				
			</div> <!-- /nav-collapse -->
			
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->


<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>

<div id="content">
	
	<div class="container">
		
		<div class="row">
			<!--  引入left start   -->
			<%include left.ejs%>

			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-home"></i>
					主页信息
				</h1>
				
				<div class="stat-container">
										
					<div class="stat-holder">						
						<div class="stat">							
							<span>564</span>							
							用户数量
						</div> <!-- /stat -->						
					</div> <!-- /stat-holder -->
					
					<div class="stat-holder">						
						<div class="stat">							
							<span>423</span>							
							文章数量
						</div> <!-- /stat -->						
					</div> <!-- /stat-holder -->
					
					<div class="stat-holder">						
						<div class="stat">							
							<span>96</span>							
							评论条数
						</div> <!-- /stat -->						
					</div> <!-- /stat-holder -->
					
					<div class="stat-holder">						
						<div class="stat">							
							<span>2</span>							
							标签个数
						</div> <!-- /stat -->						
					</div> <!-- /stat-holder -->
					
				</div> <!-- /stat-container -->

				<div class="widget widget-table">
										
					<div class="widget-header">
						<i class="icon-th-list"></i>
						<h3>列表</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">
					
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>#</th>
									<th>用户名</th>
									<th>密码</th>
									<th>联系电话</th>
									<th>admin</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							
							<tbody>
							<%if(data.length > 0){%>
								<%for(var i=0;i < data.length;i++){%>
									<tr>
										<td><%=i+1%></td>
										<td><%=data[i]['username']%></td>
										<td><%=data[i]['pass']%></td>
										<td>15726678888</td>
										<td><%=data[i]['admin']%></td>
										<td class="action-td">
											<a href="/admin/update?id=<%=data[i]['id']%>" class="btn btn-small btn-warning">
												<i class="icon-ok"></i>
											</a>
											<a href="/admin/del?id=<%=data[i]['id']%>" class="btn btn-small">
												<i class="icon-remove"></i>
											</a>
										</td>
									</tr>
								<%}%>
							<%}%>
							</tbody>
						</table>
					
					</div> <!-- /widget-content -->
					
				</div> <!-- /widget -->
				

			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->
					
	
<div id="footer">
	
	<div class="container">				
		<hr />
		<p>&copy; 2017/3/26 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> </p>
	</div> <!-- /container -->
	
</div> <!-- /footer -->

<script src="script/jquery-1.7.2.min.js"></script>
<script src="js/bootstrap.js"></script>

  </body>
</html>
